.demo-inline-calendar-card {
  width: 300px;
}

.has-activity {
  background-color: red !important;
  color: white;
  border-radius: 50%;
  padding: 0.25rem;
}

.teste
{
  display: flex;
  flex-direction: row-reverse;
}

.cursor-pointer:hover{
  cursor: pointer;


}


